@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Reset and background */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    min-height: 100vh;
    background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg") hsl(185, 75%, 39%);
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat;}


/* Project Typography */
main {
    font-family: 'Kumbh Sans';}
    
h3 {
    font-size: 18px;}

h4 {
    font-weight: 700;}

h5 {
    font-weight: 500;}

h6 {
    font-weight: 400;}

h4, h5, h6 {
    color: hsl(0, 0%, 59%);}


/* Page Layout */

/* Media Queries */
@media screen and (min-width: 375px) {
    .user-card {
      background: #ffffff;
      min-width: 375px;
      width: 60vw;
      height: auto;} 
}
  
@media screen and (min-width: 768px) {
    .user-card {
        background: #ffffff;
        width: 40vw;
        height: auto;} 
}
  
@media screen and (min-width: 1024px) {
    .user-card {
        background: #ffffff;
        width: 15vw;
        height: auto;
        margin: 0 auto;}
}


/* General Layout */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;}

.user-card {
    border-radius: 10px;}

.card-image {
        background: url(../images/bg-pattern-card.svg) hsl(185, 75%, 39%);
        height: 40%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;}

.user-photo {
    border: solid 5px #ffffff;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

    
/* Grid Layout */
.user-info {
    display: grid;
    width: 100%;
    height: 100%;
    grid: 
        "name name age" 3fr
        "city city city" 1fr
        "followers likes photos" 1fr
        "folllowers-N likes-N photos-N" 1fr 
        / 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    align-items: center;}

.name {
    grid-area: name;
    margin-top: 3em;
    margin-left: 50%;}

.age {
    grid-area: age;
    margin-top: 3.5em;
    margin-right: 80%;}

.city {
    grid-area: city;
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 1em;
    border-bottom: solid 2px #e9ecef;}

.followers {
    grid-area: followers;}

.likes {
    grid-area: likes;}

.photos {
    grid-area: photos;}

.followers-N {
    grid-area: followers-N;}

.likes-N {
    grid-area: likes-N;}

.photos-N {
    grid-area: photos-N;}

    
/* Footer */
.attribution { 
        font-size: 11px; 
        text-align: center;
        width: 100vw;}
      
.attribution a { 
    color: hsl(228, 45%, 44%); }